<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <form method="post" action="../controller/userController.php?action=login">
        Email :
        <input type="text" placeholder="example@home.com" name="email" /> Password :
        <input type="password" placeholder="********" name="password" />
        <button type="submit">Login</button>
    </form>
</body>

</html>